<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link href="../static/css/blogsheet.css" rel="stylesheet">
</head>
<body>

{{/*后序的每个页面都有这几个功能。所以我们可以让nav.html嵌套*/}}

{{template "nav.html" .}}

<div id="main">
    {{.Content}}
    {{if .HasFooter}}
        <div id="home-footer">
            <a {{if .PageCode.HasPre}}href="{{.PageCode.PreLink}}" {{else}} class="disable" {{end}}>上一页</a>
            <span>第{{.PageCode.ShowPage}}页</span>
            <a {{if .PageCode.HasNext}}href="{{.PageCode.NextLink}}" {{else}} class="disable" {{end}}>下一页</a>
        </div>
    {{end}}
</div>

</body>
</html>